body {
  margin: 0;
}
/* Main Grid Layouts */
.grid-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 8% repeat(7, 1fr);
  /* gap: 1%; */
}

.grid-container section {
  border: 2px solid black;
}


/* Aside section  */
aside {
  border: 2px solid black;
  grid-row-start: 1;
  grid-row-end: 9;
  text-align: center;
  display: grid;
  grid-template-rows: repeat(14, 1fr);
}

.profile-info {
  grid-row-start: 1;
  grid-row-end: span 2;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.main-info {
  grid-row-start: 3;
  grid-row-end: span 3;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  text-align: left;
}

.admin-info {
  grid-row-start: 6;
  grid-row-end: span 3;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  text-align: left;
}

.categories-info {
  grid-row-start: 9;
  grid-row-end: span 3;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  text-align: left;
  /* border-bottom: none; */
}

.text-nav-section {
  margin: 0;
  padding-left: 5%;
}




/* Nav Section */
nav {
  border: 2px solid black;
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: 7;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
}

.menu-icon {
  grid-column-start: 1;
  grid-column-end: 2;
  /* padding: 33%; */
  display: flex;
  flex-direction: row;
  /* find why align-content never works */
  align-content: center;
  align-items: center;
  padding-left: 33%;
}

.search-icon {
  grid-column-start: 2;
  grid-column-end: 3;
  /* padding: 33%; */
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding-left: 33%;
}

.search-input {
  grid-column-start: 3;
  grid-column-end: span 9;
  display: flex;
  flex-direction: row;
  /* align-content: flex-start; */
  align-items: center;
  padding-left: 3%;
}

input {
  width: 100%;
border: none;
}

.user-icon {
  grid-column-start: 12;
  grid-column-end: 13;
  /* padding: 33%; */
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding-left: 33%;
}

.calendar-icon {
  grid-column-start: 13;
  grid-column-end: 14;
  /* padding: 33%; */
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding-left: 33%;
}

.all-menu-icon {
  grid-column-start: 14;
  grid-column-end: 15;
  /* padding: 33%; */
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding-left: 33%;
}

/* Header Section */
header {
  border: 2px solid black;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: span 5;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.customer-info {
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  align-items: flex-end;
}

.customer-info-text {
  padding-left: 2%;
  padding-bottom: 1%;
}

.customer-view-options {
  display: flex;
}

.customer-options-text {
  padding-left: 2%;
  margin: 1%;
}

.customer-icons {
  display: flex;
  /* align-content: center; */
  padding: 2%;
  margin-left: 50%
}





/* Main Section */
main {
  border: 2px solid black;
  grid-row-start: 3;
  grid-row-end: 9;
  grid-column-start: 2;
  grid-column-end: span 5;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(6, 1fr);
}

.charts-view-section {
  border: 2px solid black;
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: span 6;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.chart-ab-section {
  border: 1% solid black;
  grid-row-start: 1;
  grid-row-end: 4;
  display: grid;
  grid-template-columns: repeat(24, 1fr)
}

.applicants-info {
  grid-column-start: 2;
  grid-column-end: span 3;
}

.interviews-info {
  grid-column-start: 7;
  grid-column-end: span 3;
}

.forwards-info {
  grid-column-start: 12;
  grid-column-end: span 3;
}

.week-info {
  grid-column-start: 18;
  grid-column-end: span 5;
}

.chart-btns-section {
  border: 2px solid black;
  grid-row-start: 4;
  grid-row-end: 5;
  display: grid;
  grid-template-columns: repeat(12, 1fr)
}

.text-view-charts {
  grid-column-start: 3;
  grid-column-end: span 4;
}

.text-week-charts {
  grid-column-start: 10;
  grid-column-end: span 4;
}


.div-main-section {
  border: 2px solid black;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: span 6;
}

.form-view-section {
  border: 2px solid black;
  grid-row-start: 5;
  grid-row-end: span 8;
  grid-column-start: 1;
  grid-column-end: span 6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-gap: 3%; */
}

.user-form {
  border: 2px solid black;
  margin: 2%  5% 2% 5%;
  /* margin-left: 5%; */
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.form-header {
  border: 2px solid black;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  /* padding: 0; */
}

.position-info {
  border: 2px solid black;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.location-info {
  border: 2px solid black;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.employ-type-info {
  border: 2px solid black;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.experience-info {
  border: 2px solid black;
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.status-info {
  border: 2px solid black;
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.description-info {
  border: 2px solid black;
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 1;
  grid-column-end: span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.hiring-info {
  border: 2px solid black;
  grid-row-start: 8;
  grid-row-end: 9;
  grid-column-start: 1;
  grid-column-end: span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.salary-info {
  border: 2px solid black;
  grid-row-start: 9;
  grid-row-end: 10;
  grid-column-start: 1;
  grid-column-end: span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

h5 {
  margin: 5% 0 0 0;
  padding: 0;
}

.form-text {
  margin: 0;
  padding: 0;
}

.form-text-icon {
  margin: 5% 0 0 0;
  padding: 0;
}





.footer {
  /* border: 2px solid black; */
  margin: 5%;
  /* margin-right: 5%; */
  grid-column-start: 3;
  text-align: center;
  margin: auto;
  display: grid;
  /* grid-template-rows: repeat(14, 1fr);
  grid-gap: 2%; */
}

.facebook-prof {
  background: rgb(74,110,192);
  color: #fff;
}

.twitter-prof {
  background: rgb(3,168,240);
  color: #fff;
  margin-top: 5%;
}

.linkedin-prof {
  background: rgb(5,128,188);
  color: #fff;
  margin-top: 5%;
}

.link-job-icon {
  /* background: rgb(5,128,188); */
  color: #fff;
  margin-top: 5%;
}

.widget-icon {
  /* background: rgb(5,128,188); */
  color: #fff;
  margin-top: 5%;
}

.send-email-icon {
  /* background: rgb(5,128,188); */
  color: #fff;
  margin-top: 5%;
}
