/* font-family: 'Otomanopee One', sans-serif;
font-family: 'Playfair Display', serif; */

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
}
/* Main Grid Layouts */
.grid-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 8% repeat(7, 1fr);
}

.grid-container section {
  border: 1px solid #bab1ae;
}

p {
  position: relative;
}


.text-nav-section {
  margin: 0;
  padding-left: 5%;
}

/* Aside section  */
aside {
  background-color: rgb(160,89,79);
  font-family: 'Otomanopee One', sans-serif;
  grid-row-start: 1;
  grid-row-end: 9;
  text-align: center;
  display: grid;
  grid-template-rows: repeat(14, 1fr);
}

.profile-info {
  grid-row-start: 1;
  grid-row-end: span 2;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  color: #fcfaf9;
  /* color: rgb(232,218,158); */
}

.user-profile-pic-top {
  grid-row-start: 1;
  grid-row-end: span 4;
  width: 50%;
  height: 70%;
  border-radius: 70%;
  padding-left: 15%;
}

.user-name {
  grid-row-start: 5;
  grid-row-end: 7;
}

.main-info {
  grid-row-start: 3;
  grid-row-end: span 3;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  text-align: left;
  color: #fcfaf9;
  font-size: 70%;
}

.admin-info {
  grid-row-start: 6;
  grid-row-end: span 3;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  text-align: left;
  color: #fcfaf9;
  font-size: 70%;
}

.categories-info {
  grid-row-start: 9;
  grid-row-end: span 3;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  text-align: left;
  color: #fcfaf9;
  font-size: 70%;
}


/* Nav Section */
nav {
  border: 2px solid black;
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: 7;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
}

.menu-icon {
  grid-column-start: 1;
  grid-column-end: 2;
  /* padding: 33%; */
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding-left: 33%;
}

.menu-icon:hover {
  background: rgb(160,89,79);
  color: #fcfaf9;
  cursor: pointer;
}

.search-icon {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding-left: 33%;
}

.search-icon:hover {
  background: rgb(160,89,79);
  color: #fcfaf9;
  cursor: pointer;
}

.search-input {
  grid-column-start: 3;
  grid-column-end: span 9;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 3%;
}


input {
  background: none;
  width: 100%;
  border: none;
}

input:focus {
  outline: none;
  color: rgb(160,89,79);
  border: 1px;
}

.user-icon {
  grid-column-start: 12;
  grid-column-end: 13;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding-left: 33%;
}

.user-icon:hover {
  background: rgb(160,89,79);
  color: #fcfaf9;
  cursor: pointer;
}

.calendar-icon {
  grid-column-start: 13;
  grid-column-end: 14;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding-left: 33%;
}

.calendar-icon:hover {
  background: rgb(160,89,79);
  color: #fcfaf9;
  cursor: pointer;
}

.all-menu-icon {
  grid-column-start: 14;
  grid-column-end: 15;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding-left: 33%;
}

.all-menu-icon:hover {
  background: rgb(160,89,79);
  color: #fcfaf9;
  cursor: pointer;
}

/* Header Section */
header {
  background: #fcfaf9;
  border: 2px solid black;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: span 5;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.customer-info {
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  align-items: flex-end;
}

.customer-info-text {
  padding-left: 2%;
  padding-bottom: 1%;
}


.customer-options-text {
  padding-left: 2%;
  margin: 1%;
}

.customer-view-options {
  display: flex;
  padding-left: 2%;

}

 /* Hover Sections */
.summary-options-text {
  display: inline-block;
  position: relative;
  padding-bottom: 0.50rem;
  padding-right: 1%;
  padding-left: 1%;
}

.summary-options-text::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgb(160,89,79);
  transition: width 0.25s ease-out;
}

.summary-options-text:hover::before {
  width: 100%;
  left: auto;
  right: 0;
  cursor: pointer;
}

.applicants-options-text {
  display: inline-block;
  position: relative;
  padding-bottom: 0.50rem;
  padding-right: 1%;
  padding-left: 1%;
}

.applicants-options-text::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgb(160,89,79);
  transition: width 0.25s ease-out;
}

.applicants-options-text:hover::before {
  width: 100%;
  left: auto;
  right: 0;
  cursor: pointer;
}

.board-options-text {
  display: inline-block;
  position: relative;
  padding-bottom: 0.50rem;
  padding-right: 1%;
  padding-left: 1%;
}

.board-options-text::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgb(160,89,79);
  transition: width 0.25s ease-out;
}

.board-options-text:hover::before {
  width: 100%;
  left: auto;
  right: 0;
  cursor: pointer;
}

.interviews-options-text {
  display: inline-block;
  position: relative;
  padding-bottom: 0.50rem;
  padding-right: 1%;
  padding-left: 1%;
}

.interviews-options-text::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgb(160,89,79);
  transition: width 0.25s ease-out;
}

.interviews-options-text:hover::before {
  width: 100%;
  left: auto;
  right: 0;
  cursor: pointer;
}

.activity-options-text {
  display: inline-block;
  position: relative;
  padding-bottom: 0.50rem;
  padding-right: 1%;
  padding-left: 1%;
}

.activity-options-text::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgb(160,89,79);
  transition: width 0.25s ease-out;
}

.activity-options-text:hover::before {
  width: 100%;
  left: auto;
  right: 0;
  cursor: pointer;
}

.broadcast-options-text {
  display: inline-block;
  position: relative;
  padding-bottom: 0.50rem;
  padding-right: 1%;
  padding-left: 1%;
}

.broadcast-options-text::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgb(160,89,79);
  transition: width 0.25s ease-out;
}

.broadcast-options-text:hover::before {
  width: 100%;
  left: auto;
  right: 0;
  cursor: pointer;
}

.notifications-options-text {
  display: inline-block;
  position: relative;
  padding-bottom: 0.50rem;
  padding-right: 1%;
  padding-left: 1%;
}

.notifications-options-text::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgb(160,89,79);
  transition: width 0.25s ease-out;
}

.notifications-options-text:hover::before {
  width: 100%;
  left: auto;
  right: 0;
  cursor: pointer;
}

.customer-icons {
  display: flex;
  align-items: center;
  padding: 1%;
  margin-left: 50%
}

.open-icon {
  border: 1px solid #bab1ae;
  margin: 10%;
  padding: 5% 15% 7% 7%;
  border-radius: 50%;
}

.open-icon:hover {
  background: rgb(160,89,79);
  color: #fcfaf9;
}

.tag-icon {
  border: 1px solid #bab1ae;
  margin: 10%;
  padding: 5% 15% 5% 10%;
  border-radius: 50%;
}

.tag-icon:hover {
  background: rgb(160,89,79);
  color: #fcfaf9;
}

.pencil-icon {
  border: 1px solid #bab1ae;
  margin: 10%;
  padding: 5% 15% 5% 10%;
  border-radius: 50%;
}

.pencil-icon:hover {
  background: rgb(160,89,79);
  color: #fcfaf9;
}

.trash-icon {
  border: 1px solid #bab1ae;
  margin: 10%;
  padding: 5% 15% 5% 10%;
  border-radius: 50%;
}

.trash-icon:hover {
  background: rgb(160,89,79);
  color: #fcfaf9;
}

/* Main Section */
main {
  border: 2px solid black;
  background: rgb(238,238,238);
  grid-row-start: 3;
  grid-row-end: 9;
  grid-column-start: 2;
  grid-column-end: span 5;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(6, 1fr);
}

.charts-view-section {
  border: 2px solid black;
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: span 6;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.chart-ab-section {
  border: 1% solid black;
  grid-row-start: 1;
  grid-row-end: 5;
  display: grid;
  grid-template-columns: repeat(24, 1fr)
  margin: 40%;
}

img {
  width: 90%;
  height: 90%;
  margin-left: 8%;
  margin-top: 3%;
}

.applicants-info {
  grid-column-start: 2;
  grid-column-end: span 3;
  opacity: 0.7;
}

.applicants-info:hover {
  cursor: zoom-in;
  opacity: 1;
  width: 105%;
  height: 105%;
}

.interviews-info {
  grid-column-start: 12;
  grid-column-end: span 3;
  opacity: 0.7;
}

.interviews-info:hover {
  cursor: zoom-in;
  opacity: 1;
  width: 105%;
  height: 105%;
}

.forwards-info {
  grid-column-start: 17;
  grid-column-end: span 3;
  opacity: 0.7;
}

.forwards-info:hover {
  cursor: zoom-in;
  opacity: 1;
  width: 105%;
  height: 105%;
}

.week-info {
  grid-column-start: 20;
  grid-column-end: span 3;
  opacity: 0.7;
}

.week-info:hover {
  cursor: zoom-in;
  opacity: 1;
  width: 105%;
  height: 105%;
}

.form-view-section {
  border: 2px solid black;
  grid-row-start: 5;
  grid-row-end: span 8;
  grid-column-start: 1;
  grid-column-end: span 6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.user-form {
  border: 2px solid black;
  margin: 2%  5% 2% 5%;
  background: #fcfaf9;
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.form-header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: #bab1ae;
  color: #fcfaf9;
  text-align: left;
  padding-left: 5%;
}

.position-info {
  border: 2px solid black;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
  padding-left: 5%;
}

.location-info {
  border: 2px solid black;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
  padding-left: 5%;
}

.employ-type-info {
  border: 2px solid black;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
  padding-left: 5%;
}

.experience-info {
  border: 2px solid black;
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
  padding-left: 5%;
}

.status-info {
  border: 2px solid black;
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
  padding-left: 5%;
}

.description-info {
  border: 2px solid black;
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 1;
  grid-column-end: span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
  padding-left: 5%;
}

.hiring-info {
  border: 2px solid black;
  grid-row-start: 8;
  grid-row-end: 9;
  grid-column-start: 1;
  grid-column-end: span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
  padding-left: 5%;
}

.salary-info {
  border: 2px solid black;
  grid-row-start: 9;
  grid-row-end: 10;
  grid-column-start: 1;
  grid-column-end: span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
  padding-left: 5%;
}

h5 {
  margin: 5% 0 0 0;
  padding: 0;
}

.form-text {
  margin: 0;
  padding: 0;
}

.form-text-icon {
  margin: 5% 0 0 0;
  padding: 0;
}



.footer {
  margin: 5%;
  grid-column-start: 3;
  text-align: center;
  display: grid;
}

.facebook-prof {
  width: 80%;
  margin: 3% 10% 3% 10%;
  background: rgb(74,110,192);
  color: #fff;
}

.facebook-prof:hover {
  opacity: 0.7;
  width: 85%;
  margin: 2% 8% 2% 8%;
  cursor: pointer;
}

.twitter-prof {
  margin: 3% 10% 3% 10%;
  background: rgb(3,168,240);
  color: #fff;
  margin-top: 5%;
}

.twitter-prof:hover {
  opacity: 0.7;
  width: 85%;
  margin: 2% 8% 2% 8%;
  cursor: pointer;
}

.linkedin-prof {
  margin: 3% 10% 3% 10%;
  background: rgb(5,128,188);
  color: #fff;
  margin-top: 5%;
}

.linkedin-prof:hover {
  opacity: 0.7;
  width: 85%;
  margin: 2% 8% 2% 8%;
  cursor: pointer;
}

.link-job-icon {
  margin: 3% 10% 3% 10%;
  background: rgb(160,89,79);
  color: #fff;
  margin-top: 5%;
}

.link-job-icon:hover {
  opacity: 0.7;
  width: 85%;
  margin: 2% 8% 2% 8%;
  cursor: pointer;
}
